{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create account</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="container-card">
        <div class="create-user">
            <i class="fas fa-user"></i>
            <a class="card" href="{% url 'register' %}">
                <h1>Register</h1>
                <h3>New User</h3>
                <button class="signUp">Create account</button>
            </a>
        </div>
        <div class="line">or</div>
        <div class="login">
            <h1>Login</h1>
            <form action="login" method="POST">
                {% csrf_token %}
                <input type="email" name="emailUser" placeholder="Email address" autocomplete="off">
                <input type="password" name="pwdUser" placeholder="Password" autocomplete="off">
                <input type="submit" value="Sign In">
            </form>
            <ul>
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href="{% provider_login_url 'google' %}"><i class="fab fa-google"></i></a>
                <a href="{% provider_login_url 'linkedin_oauth2' %}"><i class="fab fa-linkedin"></i></a>
            </ul>
        </div>
    </div>
</body>
</html>