<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veteran date</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% if user.is_authenticated %}
    <div class="container-questions">
        <h1>Questions (Answer correctly and completely)</h1>
        <form id="questionsForm" action="home" method="POST">
            {% csrf_token %}
            <section class="questionGroup">
                <h2>Were you honorably or dishonorably discharged?</h2>
                <div class="optionInput">
                    <input type="radio" name="honorably" id="hono" value="Honorably discharge">
                    <label class="checkAnswer" for="honorably">Honorably discharge
                    </label>
                </div>
                <div class="optionInput">
                    <input type="radio" name="honorably" id="dis" value="Dishonorably discharge">
                    <label class="checkAnswer" for="honorably">Dishonorably discharge
                    </label>
                </div>
            </section>
            <section class="questionGroup">
                <h2>Please provide the amount of retirement monthly payments that you will receive. (USD)</h2>
                <span id="charD">$</span>
                <input type="number" name="amount" id="amount">
            </section>
            <section class="questionGroup">
                <h2>Would you like to be near a Veterans Affairs location?</h2>
                <div class="optionInput">
                    <input type="radio" name="location" value="Yes">
                    <label class="checkAnswer" for="location">Yes
                    </label>
                </div>
                <div class="optionInput">
                    <input type="radio" name="location" value="No">
                    <label class="checkAnswer" for="location">No
                    </label>
                </div>
            </section>
            <section class="questionGroup">
                <h2>What is the highest level of education that you have attended?</h2>
                <input type="text" name="levelEdu" class="textAns">
            </section>
            <section class="questionGroup">
                <h2>What is the industry of your career or speciality?</h2>
                <input type="text" name="career" class="textAns">
            </section>
            <section class="questionGroup">
                <h2>How many years have you been in your primary career?</h2>
                <input type="number" name="yearsCareer" class="numberI">
            </section>
            <section class="questionGroup">
                <h2>What is the highest job role achieved?</h2>
                <input type="text" name="career" class="textAns">
            </section>
            <section class="questionGroup">
                <h2>Are you married?</h2>
                <div class="optionInput">
                    <input type="radio" name="married" value="Yes">
                    <label class="checkAnswer" for="married">Yes
                    </label>
                </div>
                <div class="optionInput">
                    <input type="radio" name="married" value="No">
                    <label class="checkAnswer" for="married">No
                    </label>
                </div>
            </section>
            <section class="questionGroup">
                <h2>How many people are in your immediate family?</h2>
                <input type="number" name="membersFamily" class="numberI">
            </section>
            <section class="questionGroup">
                <h2>After you retire, how often would you like to work?</h2>
                <div class="optionInput">
                    <input type="radio" name="work" value="Full-time">
                    <label class="checkAnswer" for="work">Full-time
                    </label>
                </div>
                <div class="optionInput">
                    <input type="radio" name="work" value="Part-time">
                    <label class="checkAnswer" for="work">Part-time
                    </label>
                </div>
                <div class="optionInput">
                    <input type="radio" name="work" value="No work">
                    <label class="checkAnswer" for="work">No work
                    </label>
                </div>
            </section>
            <section class="questionGroup">
                <h2>What area of the US would you like to live?</h2>
                <select name="selectPlace" id="slcPlace">
                    <option value="0">Choose</option>
                    <option value="1">First option</option>
                    <option value="2">Second option</option>
                    <option value="3">Third option</option>
                </select>
            </section>
            <section class="questionGroup">
                <h2>Do you want to be with your family?</h2>
                <div class="optionInput">
                    <input type="radio" name="family" value="Yes">
                    <label class="checkAnswer" for="family">Yes</label>
                </div>
                <div class="optionInput">
                    <input type="radio" name="family" value="No">
                    <label class="checkAnswer" for="family">No</label>
                </div>
            </section>
            <section class="questionGroup">
                <h2>Please enter the cities your family currently resides</h2>
                <input type="text" name="cities" class="textAns">
            </section>
            <section class="questionGroup">
                <h2>What size city do you prefer?</h2>
                <div class="optionInput">
                    <input type="radio" name="sizeC" value="Small">
                    <label class="checkAnswer" for="sizeC">Small</label>
                </div>
                <div class="optionInput">
                    <input type="radio" name="sizeC" value="Medium">
                    <label class="checkAnswer" for="sizeC">Medium</label>
                </div>
                <div class="optionInput">
                    <input type="radio" name="sizeC" value="Large">
                    <label class="checkAnswer" for="sizeC">Large</label>
                </div>
            </section>
            <section class="questionGroup">
                <h2>Do you want to buy or rent a home?</h2>
                <div class="optionInput">
                    <input type="radio" name="buy" value="Buy">
                    <label class="checkAnswer" for="buy">Buy</label>
                </div>
                <div class="optionInput">
                    <input type="radio" name="buy" value="Rent">
                    <label class="checkAnswer" for="buy">Rent</label>
                </div>
            </section>
            <a class="continue" onclick="pushSlides(1)">Next</a>


            <input type="submit" class="chInfo" value="Change information">
            <button type="submit" class="finish">Finish</button>
        </form>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
    {% else %}
    <h1>You are not logged in</h1>
    {% endif %}

</body>
</html>