<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>

<!-- Se cargan los archivos estáticos para aplicar los estilos -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <!-- <img src="./img/person_logo.png" alt=""> -->
        <h1>Please register</h1>
        <form id="registerForm" name="RegisterForm" method="POST" action="sign_up">
            {% csrf_token %}
<!-- Con la sentencia for se incluyen los campos creados en el archivo forms -->
            {% for field in form %}
            <div class="form-group field">
                {{ field }}
            </div>
            {% endfor %}
            <!-- <div id="termsCond_field">
                <input type="checkbox" name="acceptTerm" id="acceptTerms">
                <label for="acceptTerms">By proceeding you also agree to the Terms of Service and Privacy Policy</label>
            </div> -->
            <button type="submit" class="signUp">Sign up</button>
        </form>
    </div>
</body>
</html>